* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ededed;
  width: 300px;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#settings-heading,
#toggle-container,
#append-text-container {
  text-align: center;
}

#settings-heading {
  text-align: center;
  font-weight: 700;
  background-color: #cccccc;
  padding: 5px;
}

#append-text-input {
  padding: 5px;
  border-radius: 5px;
}
